.contBarra {
  align-items:flex-start;
  padding: 2vh;
}

  .contNivel{
    text-align: center;
    border: 3px solid white;
    border-radius: 32px;
  }


@media all and (max-height: 600px){

  .contNivel{
    text-align: center;
    border: 3px solid white;
    border-radius: 32px;
  }

  .contNivelYForm{
    display: flex;
    align-items: center;
  }
  
}