.contBarra {
  align-items: center;
  padding: 2vh;
}

.contNivel {
  text-align: center;
}

.CardJuego {
  border: 3px solid white;
  border-radius: 32px;
}

@media all and (max-height: 600px){
  .contBarra {
    padding: 1.5vh;
    font-size: 0.83rem;
  }
}
