.formCoordenadas {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-left: 2vh;
  padding-right: 2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.formCoordenadas form {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  gap: 1vh;
}

.formCoordenadas input {
  min-width: 6vh;
  width: 20%;
  margin-top: 3%;
  border-radius: 5px;
}

.formCoordenadas h3 {
  font-size: larger;
}

.inCoord {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
