.contBarra {
  display: flex;
  align-items: center;
  padding: 2vh;
}

.CardJuego {
  border: 0.1em solid white;
  border-radius: 2em;
}

.fondoMenu {
  background-image: linear-gradient(180deg, #a800af, #170d6b);
}

/* @media all and (max-height: 600px){
  .contBarra {
    padding: 1.5vh;
    font-size: 0.83rem;
  }
} */
