.contObjetivo {
  align-items: center;
  justify-content:space-between;
  display: flex;
  padding: 1vh;
}

.contObjetivo img {
  border-radius: 20%;
  height: 13vh;
}

/* .contObjetivo h3 {
  font-size: larger;
} */
