@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,500&display=swap");

:root {
    --padding-container: 100px 0;
    --color-title: #001a49;
}

/* ------------Inicio body general----------------------------------------------*/
body {
    font-family: "Roboto", sans-serif;
}

/*------------ Fin body general-------------------------------------------------*/

/*------------- Inicio encabezado-----------------------------------------------*/
.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    /*background-color: black;*/
    padding: var(--padding-container);
}

.encabezado {
    width: 100%;
    height: 70vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    grid-template-rows: 100px 1fr;
    color: rgb(255, 240, 250);
}

.encabezado::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #00000020 0%, #00000017 100%),
        url("../imagenes/Inicio.jpg");
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

/*------------- Fin encabezado-----------------------------------------------*/

/*-------------- Inicio texto enmedio del encabezado----------------------*/

.encabezado_container {
    max-width: 800px;
    display: grid;
    --padding-container: 0;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

/*-------------- Fin texto enmedio del encabezado----------------------*/

/*-------------Inicio texto bajo el contenedor del encabezado----------------*/

.bajoEncabezado {
    text-align: center;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.bajoEncabezado_paragraph {
    line-height: 2;
}

.comparacion {
    padding-top: 40px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.imgComparacion {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    margin: 0 auto;
}

.imgBajoEncabezado {
    width: 300px;
}

/*-------------Fin texto bajo el contenedor del encabezado----------------*/

/*------------- Inicio astronomos/nosotros slide-------------------------*/

/*.astronomos {
    background-color: #e5e5f7;

    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

.fondoAstronomos_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}*/

.testimony{
    background-color: #e5e5f7;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

.testimony__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimony__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}


.testimony__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony__texts{
    max-width: 700px;
}

.testimony__course{
    background-color: royalblue;
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.testimony__arrow{
    width: 90%;
    cursor: pointer;
}


/*------------- Fin astronomos conocidos slide-------------------------*/

/*-------------- Inicio pie de pagina----------------------------------*/

.piefinal {
    background-color: #1D293F;
}

.piefinal_container {
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.piefinal_copyright {
    font-weight: 300;
}

.piefinal_icons {
    margin-bottom: 10px;
}

.piefinal_img {
    width: 30px;
}

/*-------------- Fin pie de pagina----------------------------------*/

/*00000000000000000000000000 Inicio nosotros 000000000000000000000000000000000*/

.encabezadoNosotros {
    width: 100%;
    height: 70vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    grid-template-rows: 100px 1fr;
    color: rgb(255, 240, 250);
}

.encabezadoNosotros::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #00000020 0%, #00000017 100%),
        url("../imagenes/nosotros.jpg");
    background-size: cover;
    clip-path: polygon(100% 0, 100% 100%, 50% 62%, 0 100%, 0 0);
    z-index: -1;
}


/*00000000000000000000000000 Fin nosotros 000000000000000000000000000000000*/

/*00000000000000000000000000 Inicio noticias 000000000000000000000000000000*/
.encabezadoNoticias {
    width: 100%;
    height: 70vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    grid-template-rows: 100px 1fr;
    color: rgb(255, 240, 250);
}

.encabezadoNoticias::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #00000020 0%, #00000017 100%),
        url("../imagenes/noticias.jpg");
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}
 

/*00000000000000000000000000 Fin noticias 000000000000000000000000000000*/
.encabezadoAstronomia {
    width: 100%;
    height: 70vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    grid-template-rows: 100px 1fr;
    color: rgb(255, 240, 250);
}

.encabezadoAstronomia::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #00000020 0%, #00000017 100%),
        url("../imagenes/astronomia.jpg");
    background-size: cover;
    z-index: -1;
}
 



