.contJuegoCont {
    display: flex;
    justify-content: center;
    position: relative;
    height: 300px;
    width: 100%;
  }

  .contLumLect {
    height: 65vh;
    
  }
  
  .contLuminaria {
    display: flex;
    align-items: last baseline;
    height: 50vh;
  }
  
  .luminaria {
    position: absolute;
    max-height: 60%;
  }

  .contLectora{
    position: absolute;
    display: flex;
    align-items: last baseline;
    height: 50vh;
  }

  .lectora {
    position: absolute;
    max-height: 55%;
  }
 
  .botonOrientacion{
    max-width: 6vh;
    max-height: 6vh;
  }
  
  .rh {
    transform: scaleX(-1);
  }